<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/main.css">

    <title>Document</title>
</head>
<body>

        <header>
        <div id="header-top">
            <div class="container">
                <div class="header-top">
                    <div class="left-part">
                        <ul>
                            <li>
                                Phone: <a href="tel:+0125625235">+01 256 25 235</a>
                            </li>
                            <li>
                                Email: <a href="mailto:info@eiser.com">info@eiser.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="right-part">
                        <nav>
                            <ul>
                                <li>
                                    <a href="#">Gift Card</a>
                                </li>
                                <li>
                                    <a href="#">Track Order</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
        <div id="header-bottom">
            <div class="container">
                <div class="header-bottom">
                    <img src="./assets/images/logo.png" alt="" class="logo">
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="shop.html">Shop</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">Pages</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="social">
                        <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                        <a href="#"><i class="fa-regular fa-user"></i></a>
                        <a href="#"><i class="fa-regular fa-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <section id="shop">
        <h2>Shop page</h2>
    </section>

    <script src="./assets/js/shop.js"></script>
</body>
</html>